.main{
  font-family: 'Avenir Next', serif;
  color: #34495E;
}

body{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #FEF9E7;
}

h1 {
  color: #34495E;
  font-family: 'Didot', sans-serif;
  border-top: 1px solid #34495E;
  border-bottom: 2px solid #34495E;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 3em;
  text-align: center;
  width: 100%;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
p {
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
  width: 100%;
}

ul {
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
  width: 100%;
}
