header {

}

h1 {
  color: #4b6181;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

h2 {

}

ul {

}

li {

}

a {

}

p {

}
